<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.itsuha.flickr_twicca"
      android:versionCode="2" android:versionName="0.2">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        

    <activity android:name=".upload.UploadActivity" android:theme="@style/transparent"><intent-filter android:label="@string/flickr"><action android:name="jp.r246.twicca.ACTION_UPLOAD"></action>
<category android:name="android.intent.category.DEFAULT"></category>

<data android:mimeType="image/*"></data>
<data android:mimeType="video/*"></data>
</intent-filter>
</activity>
<activity android:name=".setting.AuthActivity"><intent-filter android:label="@string/flickr"><action android:name="jp.r246.twicca.ACTION_PLUGIN_SETTINGS"></action>
<category android:name="android.intent.category.DEFAULT"></category>
</intent-filter>
</activity>
</application>


<uses-sdk android:minSdkVersion="4"></uses-sdk>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 